<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataProviderModel" type="MSharp.Framework.Data.DataProviderModelConfigurationSection, MSharp.Framework"/>
  </configSections>
  
  <connectionStrings>
    <!--Every time you run the tests, a temp database will be created with the specified name from the
	scripts at ..\@M#\@Current\@Create.xxxx.SQL.

	NOTE: A fresh temp database will be created when running each test unless it declares the attribute [SideEffect(false)].
	Use this attribute for any test which does not change the database in order to speed up test execution.-->
    <add name="AppDatabase" connectionString="Database=MY.PROJECT.NAME.Temp;Data Source=.\SQLExpress;User ID=App;Password=geeks;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="Temp.Databases.Location" value="C:\Temp\Unit.Test.Temp.Databases"/>
    <add key="Test.Files.Origin" value="..\..\@World\Files\Open"/>
    <add key="Test.Files.Origin.Secure" value="..\..\@World\Files\Secure"/>
    <add key="UploadFolder" value="..\..\@Temp.Documents"/>
    <add key="UploadFolder.Secure" value="..\..\@Temp.Documents"/>
    <add key="Log.Record.Application.Events" value="false"/>
    <add key="Email.Permitted.Domains" value="nothing.fortest"/>
  </appSettings>

  <dataProviderModel>
    <providers>
      <add assembly="MY.PROJECT.NAME.Model" providerFactoryType="AppData.AdoDotNetDataProviderFactory, MY.PROJECT.NAME.Model"/>
    </providers>
  </dataProviderModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
