<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataProviderModel" type="MSharp.Framework.Data.DataProviderModelConfigurationSection, MSharp.Framework" />
  </configSections>
  <connectionStrings>
    <add name="AppDatabase" connectionString="Database=MY.PROJECT.NAME.Temp; Data Source=.\SQLExpress;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--
    [IMPORTANT NOTE]
    If your database name ends with ".Temp" then the following will happen:
        =======================================================================
    Every time the application starts, a temp database will be CREATED with the specified name from the scripts at ..\@M#\@Current\@Create.xxxx.SQL.
    (If the database already exists, it will be erased first).

    In addition to recreate the temp database without restarting the application, you can send a REQUEST to any page while specifying query string
    parameter of "Web.Test.Command=restart". This enables repeatable UI-Testing by eliminating side effects among different web-tests.

    Use it for Dev only. Never use ".Temp" in production as it will lead to user data  being erased!
  -->

  </connectionStrings>

  <dataProviderModel>
    <providers>
      <add assembly="MY.PROJECT.NAME.Domain" providerFactoryType="AppData.AdoDotNetDataProviderFactory, MY.PROJECT.NAME.Domain" />
    </providers>
  </dataProviderModel>

  <appSettings>

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Authentication.Provider" value="MSharp.Owin.Authentication.OwinAuthenticaionProvider, MSharp.Framework.Mvc" />

    <add key="Database.Cache.Enabled" value="true" />
    <add key="Database.Session.Memory.Enabled" value="false" />
    <add key="Database.Storage.Path" value="C:\@Database.Files" />
    <add key="Temp.Databases.Location" value="C:\@Database.Files" />
    <add key="Test.Files.Origin" value="..\Test\@World\Files\Open" />
    <add key="Test.Files.Origin.Secure" value="..\Test\@World\Files\Secure" />

    <add key="UploadFolder" value="Documents" />
    <add key="UploadFolder.VirtualRoot" value="/Documents/" />

    <add key="Email.Enable.Ssl" value="true" />
    <add key="Email.Sender.Address" value="noreply@uat.co" />
    <add key="Email.Sender.Name" value="MY.PROJECT.NAME Application" />
    <add key="Email.Permitted.Domains" value="for-test.net|uat.co|geeks.ltd.uk|msharp.co.uk" />
    <add key="Email.Maximum.Retries" value="4" />
    <add key="Email.Auto.CC.Address" value="" />
    <add key="Log.Record.Application.Events" value="false" />
    <add key="Log.Record.Exceptions" value="true" />
    <add key="Error.Notification.Receiver" value="" />
    <add key="Data.Access.Log.Custom.Queries" value="false" />
    <!--<add key="PdfConverter.LicenseKey" value="+9DJ28rbw8rO28zVy9vIytXKydXCwsLC" />-->
    <add key="GZip.Pages.Response" value="true" />
    <add key="Pages.CommonResources.Enabled" value="false" />
    <add key="Automated.Tasks.Persist.Execution" value="true" />
    <add key="Default.Transaction.IsolationLevel" value="ReadCommitted" />

    <!-- Social Media Login -->
    <add key="Facebook.AppID" value="See Startup.Auth.cs" />
    <add key="Facebook.AppSecret" value="See Startup.Auth.cs" />
    <add key="Google.ClientId" value="See Startup.Auth.cs" />
    <add key="Google.ClientSecret" value="See Startup.Auth.cs" />

  </appSettings>


  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="APPLICATION.SMTP.USERNAME" password="APPLICATION.SMTP.USERNAME" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <globalization uiCulture="es" culture="en-GB" />
    <httpCookies httpOnlyCookies="true" />
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="/Content/Error.htm" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/error/404" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="/Login" timeout="20" slidingExpiration="true" />
    </authentication>

    <!--1GB MAX Request size-->
    <httpRuntime targetFramework="4.5" maxRequestLength="100000000" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers />
    <httpProtocol>
      <customHeaders>
        <remove name="Server" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <!--1GB MAX-->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
